{% extends "style.html" %}
{% block title %}Add new product {% endblock %}
{% block header %}
    <div class="header-title"><h1>Add new product</h1></div>{% endblock %}
{% block container %}
    <div class="add_form">
        <form action="{{ url_for("add_product") }}" method="POST">
            {{ error_message }}
            <p>
                <label>Name</label>
                <input name="field" placeholder="Enter task's name">
            </p>
            <p>
                <label>Price</label>
                <input class="field" name="price" placeholder="Enter price">
            </p>
            <label>Description</label>
            <input class="description" name="description" placeholder="Enter description">
            <p><a id="add_button" href="/add"> Add product!</a></p>

        </form>
    </div>
    <a href="/"> Go back </a>{% endblock %}

